<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>
    <%- include('./bootstrapcdn'); %>
</head>
<body>

    <!-- <%= JSON.stringify(blogs) %> -->
  
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Blogify</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <% if (locals.user) { %>
              <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/blog/add-new">Add blog</a>
                </li>

                
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" id="dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <%= locals.user.name %>
                  </a>
                  <ul class="dropdown-menu">
                    <form action="./users/logout" method="post" >
                     <a class="nav-link active" aria-current="page" href="/users/logout">Logout</a> 
                     
                    </form>
                  </ul>
                </li>
                <%} else { %>
                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="users/login">Signin</a>

                  </li>

                  <li class="nav-item">
                      <a class="nav-link active" aria-current="page" href="users/signup">Signup</a>
                  </li>

                  <% } %>       
          
            </ul>
          </nav>
          <div class="container mt-30">
            <div class="row mt-4"> <!-- Added margin top to the row -->
                <% blogs.forEach((blog, index) => { %>
                    <div class="col-md-4 mb-4"> <!-- Use Bootstrap columns -->
                        <div class="card">
                            <img class="card-img-top" src="<%=blog.coverimageUri %>" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title"><%=blog.title %></h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="blog/<%=blog._id%>" class="btn btn-primary">View</a>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
          </div>
        </div>

   
</body>
</html>